$backgroundColor: linear-gradient(135deg, rgb(84, 97, 126) 14%, rgba(69,89,124,1) 52%, rgba(52,75,101,1) 100%, rgba(253,208,255,1) 100%, rgba(58,72,73,1) 100%);
$secondBackgroundColor: linear-gradient(135deg, rgb(176, 147, 255) 14%, rgb(106, 116, 255) 52%, rgba(235,235,235,1) 100%, rgba(58,72,73,1) 100%, rgba(0,241,255,1) 100%);
$primaryColor: rgb(180, 255, 157);
$secondaryColor: rgb(244, 255, 196);

$btnPrimaryColor: rgb(165, 165, 165);
$btnTextColor: white;


@mixin flexCenter($direction, $itemAlign) {

    display: flex;
    justify-content: center;
    align-items: $itemAlign;
    flex-direction: $direction;
    
}

@mixin mainButton {

    width: 50%;
    padding: 20px 0 20px 0;
    margin: 40px 0 0 0;
    

}

@mixin buttonStyles {
    
    background-color: rgb(253, 222, 84);
    border-color:black;
    border-radius: 5px;
    border: 2px solid rgb(253, 222, 84);
    box-shadow: -4px 3px 12px -6px rgba(130,130,17,0.69);

}

@mixin buttonReset {
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    background-color: aqua;
    
}

#button_black {
    color:black
}

.delete_or_submit_button {

    @include buttonStyles

}

.delete_or_submit_button:hover {

    @include buttonStyles;
    background-color: white;
    align-items: center;

}

#root {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    background: $secondBackgroundColor;
    font-family: 'Roboto', sans-serif;
}


header {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.5)), url("../images/more_hands.jpg");
    background-size: cover;
    background-position: 20%;
    padding: 4.5em 0 4.5em 0;
    text-align: center;
    color: white;
}

h1 {

    font-size: 50px;
}

.main_div {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

header p {

    font-size: 30px;

}

.left_portion {
    width: 25%;
    height: 100%;
    background-color: aliceblue;
    border-radius: 20px 0 0 20px;
    color: black;
}

.left_portion > div {
    height: 100vh;
}

.right_portion {
    width: 100%;
    height: 95vh;
    align-self: center;
    margin: 0 auto 0 auto;
    overflow-y: auto;
    color: white;
    
}


.right_portion > div {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
    border-style: solid 1px;
}

.right_portion:nth-child(1) {
    margin: 40px 0 0 0 ;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
    height: 300px;
}

@media screen and (max-width: 1150px) {
    

    #root {

        overflow: visible;

    }

    .left_portion {

        width: 100%;
        border-radius: 0;

    }


}