.createPolicyForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    align-self: center;
    margin-top: 40px;
  }
  
  .createPolicyContainer button {
  
      width: 30%;
      height: 4em;
      margin: 40px 0 0 0;
      align-self: center;
  
  }

  
  .createPolicyContainer h2 {
        font-size: 45px;
        align-self: center;
  
  }
  
  .createPolicyContainer {
  
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 0 0 40px 0;
  
  }